In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('nicetomeetyou.csv')

In [3]:
dataset.head()

,ID,First_Name,Last_Name,City,State,Zip,YearsMember,Party,Age,Atttended a Meeting,PAC Contributer
0,4532,Sam,Smith,Washington,DC,20001,1,D,23,Y,Y
1,23456,Tony,Tegan,Washington,DC,20001,1,R,24,N,N
2,235636,Erick,Jones,Washington,DC,20002,2,D,43,N,N
3,354346,Blake,Martin,Washington,DC,20002,30,D,65,N,Y
4,123453,Pat,Vogel,Washington,DC,20003,30,D,79,N,Y

In [5]:
dataset.shape

(11, 11)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 0 to 10
Data columns (total 11 columns):
ID                      11 non-null int64
First_Name              11 non-null object
Last_Name               11 non-null object
City                    11 non-null object
State                   11 non-null object
Zip                     11 non-null int64
YearsMember             11 non-null int64
Party                   11 non-null object
Age                     11 non-null int64
Atttended a Meeting     11 non-null object
PAC Contributer         11 non-null object
dtypes: int64(4), object(7)
memory usage: 1.0+ KB

In [5]:
dataset.describe()

                 ID            Zip  YearsMember        Age
count      11.000000     11.000000         11.0  11.000000
mean   134738.181818  20003.545455          9.0  43.636364
std     94147.383747      2.339386         11.0  18.784423
min      4532.000000  20001.000000          0.0  22.000000
25%    123447.500000  20002.000000          1.5  27.000000
50%    123450.000000  20003.000000          5.0  43.000000
75%    123452.500000  20005.000000         10.5  54.500000
max    354346.000000  20009.000000         30.0  79.000000

In [6]:
#What's the median age of our dataset?
dataset['Age'].median()

43.0

In [7]:
#filtering
dataset['Age'][2:]

2     43
3     65
4     79
5     30
6     53
7     35
8     22
9     56
10    50
Name: Age, dtype: int64